<%  pokemons.forEach(pokemon => {  %>
    <div class="well">
        <h2><%= pokemon.name %></h2>
            <p><%= pokemon.name %></p>
            <p><%= pokemon.url %></p>
<!--        want to display details for individual pokes -->
<!--            <button class="btn btn-primary" type="submit">Add to Favorite Pokemon</button>-->
    </div>
<% }); %>
