<body style="background-color:#3D7DCA;">

<div style="text-align: center">
    <a href="/" style="color:black;">see all pokemon</a>
</div>

<% pokemons.forEach(pokemon => { %>
    <div class="well"
         style="background-color: #FFCB05;
        box-shadow: #9c7d00;
        border: #9c7d00 1px solid;
        margin: 5px auto">
        <a href="/pokemon/<%= pokemon.name %>" style="color:#000063;"><h2><%= pokemon.name %></h2></a>

    </div>
<% }); %>
</body>
