<body style="background-color:#3D7DCA;">

<div style="text-align: center">
    <a href="/" style="color:black;">see all pokemon</a>
</div>

<% pokemons.forEach(pokemon => { %>
    <div class="well"
         style="background-image: url('https://i.imgur.com/P4V3fHR.png');
         background-position-x: center;
         justify-items: center;
         background-size: 60%;
         background-repeat: no-repeat;
         background-color: #3D7DCA;
         height: 200px;
        box-shadow: #3D7DCA;
        border: #3D7DCA 1px solid;
        margin: 5px auto">
        <a href="/pokemon/<%= pokemon.name %>" style="color:#7bb7ff;
            text-shadow: 1px 1px 1px #0000ba;"><h3><%= pokemon.name %></h3></a>
        <form method="POST" action="/pokemon?_method=DELETE">
            <input type="hidden" name="name" value="<%= pokemon.name%>">
            <button id="remove" class="removePoke" type="submit">leave</button>
        </form>

    </div>
<% }); %>
</body>
