




<div class="container">

    <img src="https://i.imgur.com/vchU4lt.png" style="margin: 10px auto">
    <p class="text-center">
        <a href="/pokemon">see all favorites</a>
        <link rel="stylesheet" href="../css/style.css">
    </p>


    <%  pokemon.forEach(pokemon => {  %>
    <div class="well">
        <h2><%= pokemon.name %></h2>
        <form method="POST" action="/pokemon">
            <input hidden type="text" name="name" value="<%= pokemon.name %>">
            <input hidden type="text" name="url" value="<%= pokemon.url %>">
            <button class="btn btn-primary" type="submit">Add to Favorite Pokemon</button>
        </form>
    </div>
    <% }); %>

</div>
