@font-face {
  font-family: 'pokemon_hollownormal';
  src: url('pokemon_hollow-webfont.woff2') format('woff2'),
  url('pokemon_hollow-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

#headline {
  font-family: 'pokemon_hollownormal', sans-serif;
}

body {
  background-color: #3D7DCA;
  flex-direction: column;
  font-family: ;
}

a {
  color: black;
}

.well {
  margin: 10px auto;
  text-align: center;
  background-color: #FFCB05;
  box-shadow: #9c7d00 2px 2px 5px;
  width: 300px;
}

.btn-primary {
  background-color: #0000ba;
}
